html {
    transition: all 350ms ease;
}

#theme-switcher {
    position: fixed;
    top: 8.2rem;
    right: 1rem;
    background-color: rgb(29, 24, 24);
    color: #facccc;
    padding: .6rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

#dark {
    display: none;
}

.dark-mode {
    filter: invert(100%) hue-rotate(180deg);
}

.dark-mode img,
.dark-mode .keep {
    filter: invert(100%) hue-rotate(180deg);
    transition: all 360ms ease;
}

img,
.keep {
    transition: all 360ms ease;
}